.box-container {
    max-width: 550px;
    height: 160px;
    width: 100%;
    background-color: rgb(53, 109, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    margin: 0 auto;

}